section{
  position: relative;
}

.imgHeader{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 90vh;
  background-size: cover;
  background-position: center;
}
.mat-body-2{
  word-wrap: break-word;
}
.secContent{
  padding: 16px;
  position: relative;
  top: 500px;
}

.test{
  height: 70vh;
}
