section.details{
  padding: 16px;
}

.imgHeader{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 85vh;
  background-size: cover;
  background-position: center;
}

.secContent{
  position: relative;
  top: 500px;
}

.test{
  height: 70vh;
}
